html{
   font-size: 125%;
   background: $black;
}

.wrapper{
   width: 95%;
   max-width: 1080px;
   margin: 0 auto;
}

img{
   max-width: 100%;
   display: block;
   height: auto;
}

ul, li{
   margin: 0;
   padding: 0;
   list-style: none;
}

a{
   text-decoration: none;
   color: inherit;
   cursor: pointer;
   transition: 0.5s;
}

.skipLink {
   font-size: 1rem;
   padding: 10px;
   background: $white;
   color: $black;
   position: absolute;
   top: 0;
   z-index: 30;
   text-align: center;
   width: 100%;
   left: -100%;
}

.skipLink:focus {
   left: 0;
}