.blogHeader {
    height: 70vh;
}

.blogPageFlex {
    display: flex;
}

// SIDEBAR
.sidebar {
    width: 22vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    margin-top: 10vh;
    padding: 20px;
    background: $color1;

    .sidebarImgContainer {
        width: 25vw;
        position: relative;
        right: calc(5vw + 30px);
        bottom: 40px;
    }

    a {
       color: $color2; 
    }

    li {
        color: $color3;
        list-style: inside;

        p {
            display: inline-block;
            font-size: 1.4rem;
        }
    }
}

// BLOG POST

.blogPostFlex {
    width: 60vw;
    display: flex;
    flex-direction: column;
    margin-left:auto;
}

.blogPost {
    border-left: 2px solid $color2;
    border-bottom: 2px solid $color2;

    img {
        box-shadow: -20px 20px $color2;
        position: relative;
        top: -10vh;
        left: -5px;
    }

    .blogPostTextContainer {
        margin: 20px;
        padding: 0 50px 50px;
    }

    p {
        padding-bottom: 20px;
    }
}


// BLOG COMMENTS

.comments{
    padding: 10vh 5vw 5vh 0;
}

.commentsFlex{
    display: flex;
    justify-content: flex-start;
    padding-bottom: 50px;
    
    .commentsFlexTextContainer h4 {
        font-size: 1.8rem;
        margin-top: 0;
        padding-top: 0;
    }

    .commentsFlexImgContainer {
        width: 30vw;
        padding-top: 10px;
    }
}

// BLOG FORM

.blogForm {
    display: flex;
    flex-direction: column;
    display: wrap;
    justify-content: center;
    background: $black;
    width: auto;
    padding-bottom: 10vh;
}

.blogForm input,
.blogForm textarea {
    padding: 0 0 10px 5px;
    border: none;
    margin-bottom: 40px;
    padding: 10px 20px;
    color: $white;
    font-family: $bodyFont;
    background-color: $black;

    &::placeholder {
        font-size: 1.5rem;
        letter-spacing: 3px;
        color: $white;
        opacity: 1;
    }
}

.blogForm input {
    border-bottom: 2px solid $color2;
    width: 48%;

}

.blogFormRow {
    display: flex;
    justify-content: space-between;
}

.blogForm textarea {
    min-height: 130px;
    border: 2px solid $color2;
}

.blogForm button {
    margin: 10px 0;
    font-family: $logoFont;
    font-size: 1.8rem;
    color: $white;
    background: $color3;
    border: none;
    padding: 10px 40px;
}