body {
    font-family: $bodyFont;
    font-weight: 400;
    color: $white;
}

h1 {
    font-family: $logoFont;
    font-weight: 400;
    color: $color2;
    font-size: 13.07rem;
    letter-spacing: 0.12rem;
}

h2{
    font-size: 4.16rem;
    line-height: 4.735rem;
    letter-spacing: 0.13rem;
    font-weight: 700;
}

h1, h2 {
    margin: -45px 0;
}

h3 {
    font-size: 3.4rem;
    line-height: 2.9rem;
    letter-spacing: 0.11rem;
    font-weight: 700;
    margin: 10px 0;
}

h4 {
    color: $color2;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 10px 0;

}

p {
    color: $white;
    font-size: 1.95rem;
    line-height: 1.5rem;
    letter-spacing: 0.45rem;
    margin: 0;
}
