// IMPORT GOOGLE FONTS
@import url('https://fonts.googleapis.com/css2?family=Chathura:wght@400;700&family=Tulpen+One&display=swap');

// FONT VARIABLES
$logoFont: 'Tulpen One', cursive;
$bodyFont: 'Chathura', san-serif;

// COLOR VARIABLES
$white: #FFFFFF;
$black: #111010;
$color1: #220303;
$color2: #FF8327;
$color3: #BF2603;