@import url("https://fonts.googleapis.com/css2?family=Chathura:wght@400;700&family=Tulpen+One&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  background: #111010;
}

.wrapper {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.skipLink {
  font-size: 1rem;
  padding: 10px;
  background: #FFFFFF;
  color: #111010;
  position: absolute;
  top: 0;
  z-index: 30;
  text-align: center;
  width: 100%;
  left: -100%;
}

.skipLink:focus {
  left: 0;
}

body {
  overflow-x: hidden;
}

body {
  font-family: "Chathura", san-serif;
  font-weight: 400;
  color: #FFFFFF;
}

h1 {
  font-family: "Tulpen One", cursive;
  font-weight: 400;
  color: #FF8327;
  font-size: 13.07rem;
  letter-spacing: 2.4px;
}

h2 {
  font-size: 4.16rem;
  line-height: 4.735rem;
  letter-spacing: 2.6px;
  font-weight: 700;
}

h1, h2 {
  margin: -45px 0;
}

h3 {
  font-size: 3.4rem;
  line-height: 2.9rem;
  letter-spacing: 2.2px;
  font-weight: 700;
  margin: 10px 0;
}

h4 {
  color: #FF8327;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 10px 0;
}

p {
  color: #FFFFFF;
  font-size: 1.95rem;
  line-height: 1.5rem;
  letter-spacing: 1.9px;
  margin: 0;
}

nav {
  font-size: 1.9rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background: black;
  border-bottom: solid 5px #BF2603;
}
nav .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 0;
}
nav ul {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav ul li {
  text-transform: uppercase;
}
nav ul li:nth-child(3) {
  font-family: "Tulpen One", cursive;
  font-size: 3rem;
  text-transform: none;
}

nav a:hover,
nav a:focus {
  color: #FF8327;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.indexHeader {
  background: url(../assets/home-image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}
.indexHeader .titleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}
.indexHeader .titleContainer .indexHeaderTextContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 20;
}
.indexHeader .titleContainer .indexHeaderImg {
  position: absolute;
  right: 0;
  bottom: 0;
}

.blogHeader {
  background: url(../assets/blog-header-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.pageHeaderTextContainer {
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contactHeader {
  background: url(../assets/contact-header-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}

.button {
  margin: 50px 0;
}
.button a {
  font-family: "Tulpen One", cursive;
  font-size: 1.5rem;
  background: #BF2603;
  padding: 10px 40px;
  margin: 20px 0;
}

.about {
  height: 100%;
}
.about .aboutFlex {
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10vh 0;
}
.about .aboutFlexContent {
  width: 35vw;
  padding: 10px 0;
}
.about .aboutFlexContent p {
  margin-left: 60px;
}

.aboutFlexContent h3::before {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0.5rem;
  background: #BF2603;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 15px;
}

.aboutFlexContent1 h3::before {
  content: url(../assets/house-solid.svg);
}

.aboutFlexContent2 h3::before {
  content: url(../assets/users-solid.svg);
}

.aboutFlexContent3 h3::before {
  content: url(../assets/file-solid.svg);
}

.aboutFlexContent4 h3::before {
  content: url(../assets/phone-flip-solid.svg);
}

.planAhead {
  height: 100%;
  background: #220303;
}
.planAhead .planAheadFlex {
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5vh 0;
}
.planAhead .planAheadFlexContent {
  width: 30vw;
  height: 40vh;
}
.planAhead p {
  text-align: left;
}
.planAhead .planAheadFlexContent2 .button {
  text-align: right;
}
.planAhead .planAheadFlexImg {
  width: 40vw;
}
.planAhead .planAheadFlexImg1 {
  -webkit-box-shadow: 20px 20px #FF8327;
          box-shadow: 20px 20px #FF8327;
  position: relative;
  left: -15vw;
  top: -10vh;
  overflow: hidden;
}
.planAhead .planAheadFlexImg2 {
  -webkit-box-shadow: -20px 20px #FF8327;
          box-shadow: -20px 20px #FF8327;
  position: relative;
  right: -15vw;
  bottom: -10vh;
  overflow: hidden;
}

.party1 {
  height: 100%;
}
.party1 .wrapper {
  width: 60%;
  padding: 10vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.party1 .wrapper h3 {
  color: #FF8327;
}
.party1 .wrapper p {
  text-align: justify;
}

.party2 {
  height: 55vh;
  background: url(../assets/banner-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.events {
  height: 100%;
}
.events .wrapper {
  padding: 10vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.events .wrapper img {
  -webkit-box-shadow: -20px 20px #FF8327;
          box-shadow: -20px 20px #FF8327;
}
.events .wrapper .eventsTextContainer {
  padding-left: 5vw;
}
.events .wrapper .eventsTextContainer h3 {
  color: #FF8327;
}

.gallery {
  height: 100%;
  background: #220303;
}
.gallery .galleryFlex {
  padding: 10vh 0;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.gallery .galleryFlex img {
  width: 30%;
}

.contactFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10vh 0;
  height: auto;
}

.contactInfo {
  width: 22vw;
}
.contactInfo .socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.25rem;
  padding: 2vh 0;
  width: 10vw;
}

.contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: wrap;
  background: #220303;
  width: 60vw;
  padding: 5vh 5vw;
  -webkit-box-shadow: 20px 20px #FF8327;
          box-shadow: 20px 20px #FF8327;
  position: relative;
  left: 5vw;
  bottom: 22vh;
}

.form input,
.form textarea {
  padding: 0 0 10px 5px;
  border: none;
  margin-bottom: 40px;
  padding: 10px 20px;
  color: #FFFFFF;
  font-family: "Chathura", san-serif;
  background-color: #220303;
}
.form input::-webkit-input-placeholder, .form textarea::-webkit-input-placeholder {
  font-size: 1.5rem;
  letter-spacing: 3px;
  color: #FFFFFF;
  opacity: 1;
}
.form input::-moz-placeholder, .form textarea::-moz-placeholder {
  font-size: 1.5rem;
  letter-spacing: 3px;
  color: #FFFFFF;
  opacity: 1;
}
.form input:-ms-input-placeholder, .form textarea:-ms-input-placeholder {
  font-size: 1.5rem;
  letter-spacing: 3px;
  color: #FFFFFF;
  opacity: 1;
}
.form input::-ms-input-placeholder, .form textarea::-ms-input-placeholder {
  font-size: 1.5rem;
  letter-spacing: 3px;
  color: #FFFFFF;
  opacity: 1;
}
.form input::placeholder,
.form textarea::placeholder {
  font-size: 1.5rem;
  letter-spacing: 3px;
  color: #FFFFFF;
  opacity: 1;
}

.form input {
  border-bottom: 2px solid #FFFFFF;
  width: 48%;
}

.contactFormRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactForm textarea {
  min-height: 130px;
  border: 2px solid #FFFFFF;
}

.contactForm button {
  margin: 10px 0;
  font-family: "Tulpen One", cursive;
  font-size: 1.8rem;
  color: #FFFFFF;
  background: #BF2603;
  border: none;
  padding: 10px 40px;
}

.blogHeader {
  height: 70vh;
}

.blogPageFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar {
  width: 22vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 5vw;
  margin-top: 10vh;
  padding: 20px;
  background: #220303;
}
.sidebar .sidebarImgContainer {
  width: 25vw;
  position: relative;
  right: calc(5vw + 30px);
  bottom: 40px;
}
.sidebar a {
  color: #FF8327;
}
.sidebar li {
  color: #BF2603;
  list-style: inside;
}
.sidebar li p {
  display: inline-block;
  font-size: 1.4rem;
}

.blogPostFlex {
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
}

.blogPost {
  border-left: 2px solid #FF8327;
  border-bottom: 2px solid #FF8327;
}
.blogPost img {
  -webkit-box-shadow: -20px 20px #FF8327;
          box-shadow: -20px 20px #FF8327;
  position: relative;
  top: -10vh;
  left: -5px;
}
.blogPost .blogPostTextContainer {
  margin: 20px;
  padding: 0 50px 50px;
}
.blogPost p {
  padding-bottom: 20px;
}

.comments {
  padding: 10vh 5vw 5vh 0;
}

.commentsFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-bottom: 50px;
}
.commentsFlex .commentsFlexTextContainer h4 {
  font-size: 1.8rem;
  margin-top: 0;
  padding-top: 0;
}
.commentsFlex .commentsFlexImgContainer {
  width: 30vw;
  padding-top: 10px;
}

.blogForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #111010;
  width: auto;
  padding-bottom: 10vh;
}

.blogForm input,
.blogForm textarea {
  padding: 0 0 10px 5px;
  border: none;
  margin-bottom: 40px;
  padding: 10px 20px;
  color: #FFFFFF;
  font-family: "Chathura", san-serif;
  background-color: #111010;
}
.blogForm input::-webkit-input-placeholder, .blogForm textarea::-webkit-input-placeholder {
  font-size: 1.5rem;
  letter-spacing: 3px;
  color: #FFFFFF;
  opacity: 1;
}
.blogForm input::-moz-placeholder, .blogForm textarea::-moz-placeholder {
  font-size: 1.5rem;
  letter-spacing: 3px;
  color: #FFFFFF;
  opacity: 1;
}
.blogForm input:-ms-input-placeholder, .blogForm textarea:-ms-input-placeholder {
  font-size: 1.5rem;
  letter-spacing: 3px;
  color: #FFFFFF;
  opacity: 1;
}
.blogForm input::-ms-input-placeholder, .blogForm textarea::-ms-input-placeholder {
  font-size: 1.5rem;
  letter-spacing: 3px;
  color: #FFFFFF;
  opacity: 1;
}
.blogForm input::placeholder,
.blogForm textarea::placeholder {
  font-size: 1.5rem;
  letter-spacing: 3px;
  color: #FFFFFF;
  opacity: 1;
}

.blogForm input {
  border-bottom: 2px solid #FF8327;
  width: 48%;
}

.blogFormRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogForm textarea {
  min-height: 130px;
  border: 2px solid #FF8327;
}

.blogForm button {
  margin: 10px 0;
  font-family: "Tulpen One", cursive;
  font-size: 1.8rem;
  color: #FFFFFF;
  background: #BF2603;
  border: none;
  padding: 10px 40px;
}

footer {
  background: #222222;
  color: #FFFFFF;
  height: 100%;
}
footer p {
  font-size: 1.5rem;
  text-align: center;
  padding: 5px 0;
}

@media (min-width: 320px) and (max-width: 960px) {
  .indexHeaderImg {
    display: none;
  }
  .aboutFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutFlex .aboutFlexContent {
    width: 80vw;
    margin-left: 50px;
  }
  .planAhead {
    height: 100%;
  }
  .planAhead .planAheadFlex {
    width: 80vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 50px;
  }
  .planAhead .planAheadFlexContent {
    width: 80vw;
    height: 100%;
    text-align: center;
    padding-top: 2.5vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .planAhead .planAheadFlexImg {
    width: auto;
  }
  .planAhead .planAheadFlexImg1 {
    position: static;
    -webkit-box-shadow: 20px 20px #FF8327;
            box-shadow: 20px 20px #FF8327;
  }
  .planAhead .planAheadFlexImg2 {
    position: static;
    -webkit-box-shadow: -20px 20px #FF8327;
            box-shadow: -20px 20px #FF8327;
  }
  .planAhead .planAheadFlexContent2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .party1 .wrapper {
    padding: 5vh 0;
  }
  .party2 {
    height: 20vh;
    background-position: right center;
  }
  .events .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5vh 0;
  }
  .events .wrapper img {
    width: 60vw;
  }
  .events .wrapper .eventsTextContainer {
    text-align: center;
    padding-left: 0;
    padding-top: 40px;
  }
  .galleryFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
  .galleryFlex img {
    width: 120%;
    padding: 2.5vh 0;
  }
}
@media (min-width: 320px) and (max-width: 960px) {
  .contactHeader {
    height: 40vh;
  }
  .pageHeaderTextContainer {
    height: 20vh;
  }
  .contactFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 0;
    width: 80vw;
  }
  .contactInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px;
    width: 80vw;
    height: 12vh;
  }
  .contactInfoBlock {
    padding: 0;
  }
  .socialIcons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: auto;
    height: 12vh;
  }
  .contactForm {
    position: static;
    width: 80vw;
    margin-right: 50px;
  }
}
@media (min-width: 320px) and (max-width: 960px) {
  .blogHeader {
    height: 40vh;
  }
  .blogPageFlex {
    display: inline;
  }
  .sidebar {
    height: auto;
    width: 80vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 50px auto;
  }
  .sidebar .sidebarImgContainer {
    position: static;
    width: 40vw;
  }
  .blogPostFlex {
    width: 80vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  .blogPost {
    border: 2px solid #FF8327;
  }
  .blogPost img {
    position: static;
  }
  .comments {
    padding: 2vh 0;
  }
  .commentsFlex {
    padding-bottom: 2vh;
    width: 80vw;
  }
  .commentsFlex .commentsFlexImgContainer {
    padding-right: 10px;
  }
  .blogForm {
    padding-bottom: 2vh;
  }
}